<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="reporting.Setup"></listener>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="/Users/harshagrawal/IdeaProjects/RestAssuredTest/src/test/java/bookings/BookingsTest.java">
        <classes>
            <class name="bookings.BookingsTest">
            </class>
        </classes>
    </test>
</suite>